<div class="row">
    <div class="col-sm-12">
        <div class="card text-white bg-window-1" id="{{id}}_plugin">
            <div class="card-header">{{name}}</div>
            {{#data}}
                <div class="card-body">
                    <p class="card-text"><i class="display-1 wi wi-owm-{{weather_icon}}"></i> <!-- {{weather}} --> {{temp}}ºC</p>
                </div>
            {{/data}}
        </div>
    </div>
</div>