<div class="jumbotron" id="{{id}}_plugin">
    <h1 class="display-4">{{name}}</h1>
    {{#data}}
    <div class="lead">
        <h2><i class="display-1 wi wi-owm-{{weather_icon}}"></i> <!-- {{weather}} --> {{temp}}ºC</h2>
        
    </div>
    {{/data}}
</div>