<div class="row">
    <div class="col-sm-12">
        <div class="card text-white bg-window-1" id="{{id}}_plugin">
            <div class="card-header">{{name}}</div>
            <div class="card-body">
                <div class="d-flex justify-content-around">
                    {{#data}}
                        <img src="{{{path1}}}" style="max-height:750px;" />
                        <img src="{{{path2}}}" style="max-height:750px;" />
                        <img src="{{{path3}}}" style="max-height:750px;" />
                    {{/data}}
                </div>
            </div>
        </div>
    </div>
</div>
