<div class="row">
    <div class="col-sm-12">
        <div class="card text-white bg-window-1" id="{{id}}_plugin">
            <div class="card-header">{{name}}</div>
            <div class="card-body">
                {{#data}}
                <div class="card col-sm-3 text-dark">
                    <img class="card-img-top" src="{{profile_image_url}}" alt="@{{user_name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{screen_name}}</h5>
                        <h6 class="car-subtitle text-muted">@{{user_name}}</h6>
                        <p class="card-text">{{text}}</p>
                    </div>
                </div>    
                {{/data}}
            </div>
        </div>
    </div>
</div>