<div class="jumbotron" id="{{id}}_plugin">
    <h1 class="display-4">{{name}}</h1>
    {{#data}}
    <div class="lead">
        <div class="card col-sm-4">
            <img class="card-img-top" src="{{profile_image_url}}" alt="@{{user_name}}">
            <div class="card-body">
                <h5 class="card-title">{{screen_name}}</h5>
                <h6 class="car-subtitle text-muted">@{{user_name}}</h6>
                <p class="card-text">{{text}}</p>
            </div>
        </div>    
    </div>
    {{/data}}
</div>