<div class="row">
    <div class="col-sm-12">
        <div class="card text-white bg-window-1" id="{{id}}_plugin">
            <div class="card-header">{{name}}</div>
            <div class="card-body">
                {{#data}}
                    <div class="row">
                        <h5 class="card-title col-sm-12 col-md-9">{{title}}</h5>
                        <h5 class="card-title col-sm-12 col-md-3 text-right">{{updated_at}}</h5>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{{description}}}
                        </div>
                    </div>
                {{/data}}
            </div>
        </div>
    </div>
</div>
